<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BorderlessOnlineShoppingDissertation</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ComposeServletProcess</display-name>
    <servlet-name>ComposeServletProcess</servlet-name>
    <servlet-class>emailsystem.ComposeServletProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComposeServletProcess</servlet-name>
    <url-pattern>/ComposeServletProcess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMailServlet</display-name>
    <servlet-name>DeleteMailServlet</servlet-name>
    <servlet-class>emailsystem.DeleteMailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMailServlet</servlet-name>
    <url-pattern>/DeleteMailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InboxServlet</display-name>
    <servlet-name>InboxServlet</servlet-name>
    <servlet-class>emailsystem.InboxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InboxServlet</servlet-name>
    <url-pattern>/InboxServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>emailsystem.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>emailsystem.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PermanentDeleteMailServlet</display-name>
    <servlet-name>PermanentDeleteMailServlet</servlet-name>
    <servlet-class>emailsystem.PermanentDeleteMailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PermanentDeleteMailServlet</servlet-name>
    <url-pattern>/PermanentDeleteMailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>emailsystem.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SentServlet</display-name>
    <servlet-name>SentServlet</servlet-name>
    <servlet-class>emailsystem.SentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SentServlet</servlet-name>
    <url-pattern>/SentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrashServlet</display-name>
    <servlet-name>TrashServlet</servlet-name>
    <servlet-class>emailsystem.TrashServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrashServlet</servlet-name>
    <url-pattern>/TrashServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewMailServlet</display-name>
    <servlet-name>ViewMailServlet</servlet-name>
    <servlet-class>emailsystem.ViewMailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewMailServlet</servlet-name>
    <url-pattern>/ViewMailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ComposeServlet</display-name>
    <servlet-name>ComposeServlet</servlet-name>
    <servlet-class>emailsystem.ComposeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComposeServlet</servlet-name>
    <url-pattern>/ComposeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateServlet</display-name>
    <servlet-name>CreateServlet</servlet-name>
    <servlet-class>onlinebanking.CreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateServlet</servlet-name>
    <url-pattern>/CreateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConUpdate</display-name>
    <servlet-name>ConUpdate</servlet-name>
    <servlet-class>admin.ConUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConUpdate</servlet-name>
    <url-pattern>/ConUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>admin.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>admin.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowServlet</display-name>
    <servlet-name>ShowServlet</servlet-name>
    <servlet-class>admin.ShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowServlet</servlet-name>
    <url-pattern>/ShowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>successadmin</display-name>
    <servlet-name>successadmin</servlet-name>
    <servlet-class>admin.successadmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>successadmin</servlet-name>
    <url-pattern>/successadmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet1</display-name>
    <servlet-name>UpdateServlet1</servlet-name>
    <servlet-class>admin.UpdateServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet1</servlet-name>
    <url-pattern>/UpdateServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addEmployeeServlet</display-name>
    <servlet-name>addEmployeeServlet</servlet-name>
    <servlet-class>paymentgateway.addEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addEmployeeServlet</servlet-name>
    <url-pattern>/addEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalculateDeductionServlet</display-name>
    <servlet-name>CalculateDeductionServlet</servlet-name>
    <servlet-class>paymentgateway.CalculateDeductionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalculateDeductionServlet</servlet-name>
    <url-pattern>/CalculateDeductionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>calculateServlet</display-name>
    <servlet-name>calculateServlet</servlet-name>
    <servlet-class>paymentgateway.calculateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>calculateServlet</servlet-name>
    <url-pattern>/calculateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckAllowanceServlet</display-name>
    <servlet-name>CheckAllowanceServlet</servlet-name>
    <servlet-class>paymentgateway.CheckAllowanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckAllowanceServlet</servlet-name>
    <url-pattern>/CheckAllowanceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExpenditureReportServlet</display-name>
    <servlet-name>ExpenditureReportServlet</servlet-name>
    <servlet-class>paymentgateway.ExpenditureReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExpenditureReportServlet</servlet-name>
    <url-pattern>/ExpenditureReportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MakePaymentServlet</display-name>
    <servlet-name>MakePaymentServlet</servlet-name>
    <servlet-class>paymentgateway.MakePaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MakePaymentServlet</servlet-name>
    <url-pattern>/MakePaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveAllowanceServlet</display-name>
    <servlet-name>SaveAllowanceServlet</servlet-name>
    <servlet-class>paymentgateway.SaveAllowanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveAllowanceServlet</servlet-name>
    <url-pattern>/SaveAllowanceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveDeductionServlet</display-name>
    <servlet-name>SaveDeductionServlet</servlet-name>
    <servlet-class>paymentgateway.SaveDeductionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveDeductionServlet</servlet-name>
    <url-pattern>/SaveDeductionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchPayServlet</display-name>
    <servlet-name>SearchPayServlet</servlet-name>
    <servlet-class>paymentgateway.SearchPayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchPayServlet</servlet-name>
    <url-pattern>/SearchPayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>omServlet</display-name>
    <servlet-name>omServlet</servlet-name>
    <servlet-class>paymentgateway.omServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>omServlet</servlet-name>
    <url-pattern>/omServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>somServlet</display-name>
    <servlet-name>somServlet</servlet-name>
    <servlet-class>paymentgateway.somServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>somServlet</servlet-name>
    <url-pattern>/somServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateEmployeeServlet</display-name>
    <servlet-name>updateEmployeeServlet</servlet-name>
    <servlet-class>paymentgateway.updateEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateEmployeeServlet</servlet-name>
    <url-pattern>/updateEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>paymentgateway.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>browse</display-name>
    <servlet-name>browse</servlet-name>
    <servlet-class>employee.browse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>browse</servlet-name>
    <url-pattern>/browse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>downloadfile</display-name>
    <servlet-name>downloadfile</servlet-name>
    <servlet-class>employee.downloadfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>downloadfile</servlet-name>
    <url-pattern>/downloadfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>empval</display-name>
    <servlet-name>empval</servlet-name>
    <servlet-class>employee.empval</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>empval</servlet-name>
    <url-pattern>/empval</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logoutemp</display-name>
    <servlet-name>logoutemp</servlet-name>
    <servlet-class>employee.logoutemp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutemp</servlet-name>
    <url-pattern>/logoutemp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchfile</display-name>
    <servlet-name>searchfile</servlet-name>
    <servlet-class>employee.searchfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchfile</servlet-name>
    <url-pattern>/searchfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>uploadfile</display-name>
    <servlet-name>uploadfile</servlet-name>
    <servlet-class>employee.uploadfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadfile</servlet-name>
    <url-pattern>/uploadfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>lCreateServlet</display-name>
    <servlet-name>lCreateServlet</servlet-name>
    <servlet-class>onlinelibrary.lCreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lCreateServlet</servlet-name>
    <url-pattern>/lCreateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>lDBIntializer</display-name>
    <servlet-name>lDBIntializer</servlet-name>
    <servlet-class>onlinelibrary.lDBIntializer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lDBIntializer</servlet-name>
    <url-pattern>/lDBIntializer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>pCreateServlet</display-name>
    <servlet-name>pCreateServlet</servlet-name>
    <servlet-class>medicine.pCreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pCreateServlet</servlet-name>
    <url-pattern>/pCreateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>pCreateServlet1</display-name>
    <servlet-name>pCreateServlet1</servlet-name>
    <servlet-class>pharmacy.pCreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pCreateServlet1</servlet-name>
    <url-pattern>/pCreateServlet1</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>CitySearch.Trigger</listener-class>
  </listener>
  <listener>
    <listener-class>CitySearch.MyListener</listener-class>
  </listener>
  <listener>
    <listener-class>CitySearch.MyListener</listener-class>
  </listener>
  <listener>
    <listener-class>onlinebanking.MyListener</listener-class>
  </listener>
  <listener>
    <listener-class>onlinelibrary.MyListener</listener-class>
  </listener>
  <listener>
    <listener-class>onlinequiz.MyListener</listener-class>
  </listener>
  <listener>
    <listener-class>pharmacy.MyListener</listener-class>
  </listener>
  <listener>
    <listener-class>socialhelp.MyListener</listener-class>
  </listener>
  <listener>
    <listener-class>transport.MyListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>usersignup</display-name>
    <servlet-name>usersignup</servlet-name>
    <servlet-class>shoppinguser.usersignup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>usersignup</servlet-name>
    <url-pattern>/usersignup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>uservalidate</display-name>
    <servlet-name>uservalidate</servlet-name>
    <servlet-class>shoppinguser.uservalidate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uservalidate</servlet-name>
    <url-pattern>/uservalidate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>talentsignup</display-name>
    <servlet-name>talentsignup</servlet-name>
    <servlet-class>innovative.talentsignup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>talentsignup</servlet-name>
    <url-pattern>/talentsignup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>talentsignin</display-name>
    <servlet-name>talentsignin</servlet-name>
    <servlet-class>innovative.talentsignin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>talentsignin</servlet-name>
    <url-pattern>/talentsignin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>innovativeproducts</display-name>
    <servlet-name>innovativeproducts</servlet-name>
    <servlet-class>innovative.innovativeproducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>innovativeproducts</servlet-name>
    <url-pattern>/innovativeproducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>browsefile</display-name>
    <servlet-name>browsefile</servlet-name>
    <servlet-class>innovative.browsefile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>browsefile</servlet-name>
    <url-pattern>/browsefile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>filedownload</display-name>
    <servlet-name>filedownload</servlet-name>
    <servlet-class>innovative.filedownload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>filedownload</servlet-name>
    <url-pattern>/filedownload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>filesearch</display-name>
    <servlet-name>filesearch</servlet-name>
    <servlet-class>innovative.filesearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>filesearch</servlet-name>
    <url-pattern>/filesearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>tlogout</display-name>
    <servlet-name>tlogout</servlet-name>
    <servlet-class>innovative.tlogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tlogout</servlet-name>
    <url-pattern>/tlogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>innproducts</display-name>
    <servlet-name>innproducts</servlet-name>
    <servlet-class>innovative.innproducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>innproducts</servlet-name>
    <url-pattern>/innproducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>innoavtiveitems</display-name>
    <servlet-name>innoavtiveitems</servlet-name>
    <servlet-class>innovotiveproducts.innoavtiveitems</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>innoavtiveitems</servlet-name>
    <url-pattern>/innoavtiveitems</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>innologout</display-name>
    <servlet-name>innologout</servlet-name>
    <servlet-class>innovotiveproducts.innologout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>innologout</servlet-name>
    <url-pattern>/innologout</url-pattern>
  </servlet-mapping>
</web-app>